
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(96, 195, 195);
}

button {
    background-color: white;
    padding: 8px;
    font-size: 16px;
}
a {
    background-color: white;
}
 h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
 }

 .list {
    display: inline-block;
    padding: 20px;
    margin: 0 auto
 }

#card {
    width:fit-content;
    margin: 0 auto;
    margin-top: 150px;
}

div {
    text-align: center;
}